<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">ProWay</span>
        <span class="main-header__title--orange"> Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="produtos" >Produtos</a>
                </li>
                <li>
                    <a routerLink="carrinho">
                        <img  id="cart"  src="assets/cart.png" >
                        Carrinho
                        <span class="badge-carinho">{{carrinhoService.obterCarrinho().length}}</span>
                    </a>
                </li>
                <li><a routerLink="contato"> Contato</a></li>
                <li><a> <img class="redes" src="assets/face.png" ></a></li>
                <li><a> <img class="redes" src="assets/instagram.png" ></a></li>
                <li><a> <img class="redes" src="assets/twitter.png" ></a></li>
                <li><a> <img class="redes" src="assets/linkedin.png" >  </a></li>
            </ul>
        </nav>
       <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>